<style>
     .error-template {
        padding: 40px 100px;
        text-align: center;
        background: #fff;
        border: 1px solid #ddd;
        background: #f1f1f1;
        position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    }
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img src="css/img/logo.png" />
                <h2><a href="https://chrome.google.com/webstore/detail/screen-capturing/ajhifddimkapgcifgcodmmfdlknahffk" target="_blank">Click here to add Chrome Extension</a></h2>
            </div>
        </div>
    </div>
</div>