<div class="booth text-center" id="movieModalOpenMedium">
	<div class="image">
		<img src="css/img/logo.png" />
	</div>
    <h2 align="center">Intellects Remote Proctoring Platform Demo</h2>
        <p>
            <video></video> 
        </p>
        <hr />
        <div class="clearfix btn-grp">
            <button id="btn-start-recording" class="btn btn-primary pull-left" ng-click="startRecording();">Start Recording</button>
            <button id="btn-stop-recording" class="btn btn-primary pull-right" ng-click="stopRecording();" disabled="">Stop Recording</button>
        </div>
		
</div>
